<div>
  <div class="p-align-stretch vertical-container">
    <p-card styleClass="p-card-shadow">
      <p-table
        [value]="users"
        styleClass="p-datatable-sm"
        [scrollable]="true"
        scrollHeight="flex"
      >
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">Score Rankings</h5>
            <span class="p-input-icon-left">
              <button
                pButton
                pRipple
                class="app-toolbar-icon"
                type="button"
                icon="pi pi-refresh"
                (click)="loadServerData()"
              ></button>
            </span>
        </div>
    </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Score</th>
            <th>Name</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.score }}</td>
            <td>{{ product.firstName }} {{ product.lastName }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td>No ranking records found</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
