<div>
  <div class="p-align-stretch vertical-container">
    <p-card header="Welcome to SCORE" subheader="powered by VDI Young Engineers Hackathon 2021"
      styleClass="p-card-shadow ">
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/logos/15_logo.png" />
      </ng-template>
      <p>
        Sag uns wie du dich fortbewegst und wir sagen dir deinen Mobility Score.
        Battle dich in Challenges mit deiner Familie und deinen Freunden. Tue
        etwas gutes für dich und deine Umwelt!
      </p>
      <ng-template pTemplate="footer">
        <p-button label="Login" icon="pi pi-sign-in" (onClick)="selectLogin()"></p-button>
        <p-button label="Register" icon="pi pi-user-plus" (onClick)="selectRegister()"></p-button>
      </ng-template>
    </p-card>
  </div>

  <div class="">
    <p-dialog header="Login" [(visible)]="displayLogin" [modal]="true" [baseZIndex]="0" [draggable]="false"
      [resizable]="false">
      <div class="p-grid p-fluid">
        <div class="p-col-12 p-md-4">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="Username" [(ngModel)]="username" />
          </div>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
            <p-password [(ngModel)]="password" [toggleMask]="true"></p-password>
          </div>
        </div>
      </div>
      <ng-template pTemplate="footer">
        <p-button label="Login" class="p-button-raised p-button-text" (onClick)="commandExecLogin()"></p-button>
        <p-button label="Abort" class="p-button-raised p-button-text" (onClick)="commandAbortLogin()"></p-button>
      </ng-template>
    </p-dialog>
  </div>

  <div class="">
    <p-dialog header="Login" [(visible)]="displayRegister" [modal]="true" [baseZIndex]="0" [draggable]="false"
      [resizable]="false">
      <div class="p-grid p-fluid">
        <div class="p-col-12 p-md-4">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-play"></i></span>
            <input type="text" pInputText placeholder="Vorname" [(ngModel)]="firstname" />
          </div>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-play"></i></span>
            <input type="text" pInputText placeholder="Nachname" [(ngModel)]="lastname" />
          </div>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="Username" [(ngModel)]="username" />
          </div>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
            <p-password [(ngModel)]="password" [toggleMask]="true"></p-password>
          </div>
        </div>
      </div>
      <ng-template pTemplate="footer">
        <p-button label="Login" class="p-button-raised p-button-text" (onClick)="commandExecRegister()"></p-button>
        <p-button label="Abort" class="p-button-raised p-button-text" (onClick)="commandAbortRegister()"></p-button>
      </ng-template>
    </p-dialog>
  </div>
</div>