<div class="p-text-left">
  <div class="p-p-1">
    <h1>Profile</h1>
  </div>
</div>

<div class="p-text-center">
  <div class="p-p-1">
    <i style="font-size: 5rem" class="pi pi-user p-button-rounded p-button-info p-button-outlined p-p-1"></i>
  </div>
</div>

<div class="p-text-center">
  <div class="p-p-0">
    <p>Nickname</p>
  </div>
</div>

<div class="p-text-center">
  <div class="">
    <p>13</p>
  </div>
  <div class="">
    <p>Friends</p>
  </div>
</div>

<!-- Points Level -->

<div class="p-text-left p-component">
  <div class="p-d-flex p-pl-3">
    <div class="p-mr-2"><p class="p-text-uppercase">Challenger</p></div>
    <div class="p-mr-2"><p>7680</p></div>
  </div>
  <div class="p-p-3">
    <p-progressBar [value]="value"></p-progressBar>
  </div>
</div>
