<div class="app-toolbar" style="position: fixed; width: 100%; bottom: 0;">
  <p-toolbar>
    <button
    *ngIf="loggedIn"
    pButton
    pRipple
    class="app-toolbar-icon"
    type="button"
    icon="pi pi-sign-out"
    class="p-button-info"
    (click)="logout()"
  ></button>
    <button
      *ngIf="loggedIn"
      pButton
      pRipple
      class="app-toolbar-icon"
      type="button"
      icon="pi pi-home"
      class="p-button-info"
      routerLink="/home"
    ></button>
    <button
    *ngIf="loggedIn"
      pButton
      pRipple
      class="app-toolbar-icon"
      type="button"
      icon="pi pi-user"
      class="p-button-info"
      routerLink="/profile"
    ></button>
    <button
    *ngIf="loggedIn"
      pButton
      pRipple
      class="app-toolbar-icon"
      type="button"
      icon="pi pi-users"
      class="p-button-info"
      routerLink="/ranking"
    ></button>
    <button
    *ngIf="loggedIn"
      pButton
      pRipple
      class="app-toolbar-icon"
      type="button"
      icon="pi pi-chart-line"
      class="p-button-info"
      routerLink="/statistics"
    ></button>
    <button
    *ngIf="!loggedIn"
      pButton
      pRipple
      class="app-toolbar-icon"
      type="button"
      icon="pi pi-home"
      class="p-button-info"
      routerLink="/welcome"
    ></button>
  </p-toolbar>
</div>
