@import '~material-icons/iconfont/material-icons.css';


html,
body {
  margin: 0;
  height: 100%; /* can also use viewport units (height: 100vh) */
  background-color: var(--surface-50);
}

.app-container {
  display: flex; /* displays flex-items (children) inline */
  flex-direction: column; /* stacks them vertically */
  height: 100%; /* needs to take the parents height, alternative: body {display: flex} */
  background-color: var(--surface-50);
}

.app-area {
  flex: 1; /* takes the remaining height of the "container" div */
  overflow: auto; /* to scroll just the "main" div */
  background-color: var(--surface-50);
}

.app-head {
  background-color: var(--surface-50);
}

.app-foot {
  background-color: var(--surface-50);
}
